.app {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 16px;
}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.app__button--right {
  margin-left: 8px;
}
